    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
    margin: 0;
    padding: 0;
   
}  
   .mother-all{
    background-image: url('/asset/img/young-woman-having-face-massage-relaxing-spa-salon_176420-7546.avif');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
   }
   .form-container {
      background-color: rgba(0, 0, 0, 0.5);
      max-width: 350px;
      margin: 100px auto;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      max-height: 100%;
    }

    h2, h1 {
      text-align: center;
      margin-bottom: 20px;
      text-shadow: 2px 2px 5px#a22f05
    }
    .form-container h1{
      color: #ff7f50;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: none;
      border-radius: 6px;
      background: #ffffff;
      color: #000;
      font-size: 16px;
    }
    input:focus{
        border: none;
        outline: none;
        box-shadow: none;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #ff7f50;
      border: none;
      border-radius: 6px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin:80px 0 9px 0;
    }

    button:hover {
      background-color: #e8693c;
    }
    .dont-hve{
      text-align: center;
      font-size: 0.8rem;
    
    }
    .dont-hve a{
      text-decoration: none;
      color: #ff7f50;
    
    }