    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
:root {
  --sunset-purple: #6d5eac;
  --sunset-pink: #f7b7c3;
  --sunset-orange: #f88f5a;
  --sunset-gold: #fbc96e;
  --sunset-blue: #2c3e50;
  --sunset-cloud: #8c90a3;
  --sunset-deep: #1c2230;
}
    
    body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(90deg,rgba(109, 94, 172, 1) 11%, rgba(247, 183, 195, 1) 50%, rgba(248, 143, 90, 1) 100%); */
    height: fit-content;
    max-height: fit-content;
  
   
}  
   .mother-all{
    /* background-image: url('/img/boat-sea-cloudy-sky-beautiful-colorful-sunset-evening.jpg'); */
    
   /*  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
      color: var(--sunset-deep);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; 
     background: linear-gradient(to bottom, var(--sunset-purple), var(--sunset-orange));
   }
   .form-container {
      background-color: rgba(0, 0, 0, 0.5);
      max-width: 350px;
      margin: 100px auto;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      max-height: 100%;
    }

    h2, h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .form-container h1{
        color: var(--sunset-deep)
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: none;
      border-radius: 6px;
      background: #ffffff;
      color: #000;
      font-size: 16px;
    }
    input:focus{
        border: none;
        outline: none;
        box-shadow: none;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #ff7f50;
      border: none;
      border-radius: 6px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin:80px 0 9px 0;
    }

    button:hover {
      background-color: #e8693c;
    }
    .dont-hve{
      text-align: center;
      font-size: 0.8rem;
    
    }
    .dont-hve a{
      text-decoration: none;
      color: #ff7f50;
    
    }