*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
--success-color: #23cc71;
--error-color: #e40d0d;
}
.form-errer{
  color: red;
  font-size: 1.2rem;
  text-align: center;
}
.form-succ{
  color: green;
  font-size: 1.2rem;
  text-align: center;
}
.form-control small{
  color: var(--error-color);
  visibility: hidden;
  font-size:16px;
  font-weight: bold;
}
.error{
  color: red;
}
.form-control.error small{
  visibility: visible;
}
.text-danger{
  color: red;
}

    body{
background-image: url('/asset/img/young-woman-having-face-massage-relaxing-spa-salon_176420-7546.avif');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100dvh;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
overflow: hidden;
}
.form-container {
background-color: rgba(0, 0, 0, 0.5);
max-width: 350px;
margin: 40px auto;
padding: 30px;
border-radius: 12px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
max-height: 100%;
}

h2, h1 {
text-align: center;
margin-bottom: 20px;
text-shadow: 2px 2px 5px#a22f05

}
.form-container h1{
color: #ff7f50;
}

input[type="text"],
input[type="password"],
input[type="email"] {
width: 100%;
padding: 12px;
margin: 10px 0 0 0;
border: none;
border-radius: 6px;
background: #ffffff;
color: #000;
font-size: 16px;
}

input:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

button {
width: 100%;
padding: 11px;
background-color: #ff7f50;
border: none;
border-radius: 6px;
color: white;
font-weight: bold;
cursor: pointer;
margin:50px 0 9px 0;
font-weight: bold;
font-size: 1.1rem;
}

button:hover {
background-color: #e8693c;
}
.dont-hve{
text-align: center;
font-size: 0.9rem;

}
.dont-hve a{
text-decoration: none;
color: #ff7f50;

}